section {
    width: 85vw;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
    padding: 1rem 0;
    /* set relative for buttons */
    position: relative;
}

.welcome {
    margin-bottom: 4rem;
}

.welcome h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}



h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: green;
    letter-spacing: var(--spacing);
    margin: 0.5rem 0;
}

.title {
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text {
    color: pink;
    line-height: 1.8;
    max-width: 35em;
    margin: 0 auto;
    letter-spacing: 1px;
}


/* set buttons */
.btn {
    position: absolute;
    top: 175px;
    background: yellow;
    color: red;
    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
    border: transparent;
    cursor: pointer;
}

.next-btn {
    right: -0.5rem;
}

.prev-btn {
    left: -0.5rem;
}